@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #3b82f6;      /* Fresh blue primary */
  --primary-light: #60a5fa;
  --primary-dark: #2563eb;
}


.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Custom selection color */
::selection {
  background: var(--primary);
  color: black;
}